@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About us</title>
    <link href="~/Scripts/MyCss/aboutus.css" rel="stylesheet" />
    <style>
        .horizontal_list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;
        }

        .logo img {
            width: 80px;
            height: 60px;
        }

        .horizontal_list ul {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
        }

        .horizontal_list ul li {
            margin: 25px 35px 25px 35px;
        }

        .horizontal_list ul li a {
            font-size: 18px;
            color: #ffffff;
            text-decoration: none;
        }

        .horizontal_list ul li a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <!--HEADER-->
    <header style="padding-bottom: 30px;">
        <nav class="horizontal_list fixed-nav" style="background-color: #660033;">
            <div class="logo">
                <img src="~/Content/Images/logo.jpg">
            </div>
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Aboutus", "Home")">About us</a></li>
                <li><a href="@Url.Action("Contactus", "Home")">Contact us</a></li>
                <li><a href="@Url.Action("Login", "Home")">Login</a></li>
                <li><a href="@Url.Action("UserRegistration", "Home")">Register</a></li>
            </ul>
        </nav>
    </header>
    <!--HEADER-->
    <!--BODY CONTENT-->
    <h1 class="about_us">About Us</h1>
    <div class="div1">
        <h2 class="head1">What we do?</h2>
        <blockquote class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</blockquote>
        <br>
        <h2 class="head1">Our Team</h2>
        <table>
            <tr>
                <td class="td1">
                    <h3>Technology</h3>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </td>
                <td class="td1">
                    <h3>Infrastructure</h3>
                    <p class="para">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </td>
                <td class="td1">
                    <h3>Lifestyle</h3>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </td>
            </tr>
        </table>

        <h2 class="head1">Gallery</h2>
        <center>
            <table>
                <tr class="gallery">
                    <td class="gallery"><img src="~/Content/Images/img1.jpg" alt="Image not found" width="250px" height="250px"></td>
                    <td class="gallery"><img src="~/Content/Images/img2.jpg" alt="Image not found" width="250px" height="250px"></td>
                    <td class="gallery"><img src="~/Content/Images/img3.jpg" alt="Image not found" width="250px" height="250px"></td>
                </tr>
            </table>
        </center>
    </div>
    <!--BODY CONTENT-->
    <!--FOOTER-->
    <div class="foot">
        <h4>Address</h4>
        <blockquote>
            <address>
                90,80 elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            </address>
        </blockquote>
        <div>
            <a href=""><img src="~/Content/Images/facebook.png" alt="Image not found" width="20px" height="20px"></a>
            <a href=""><img src="~/Content/Images/instagram.png" alt="Image not found" width="20px" height="20px"></a>
            <a href=""><img src="~/Content/Images/linkedin.png" alt="Image not found" width="20px" height="20px"></a>
            <a href=""><img src="~/Content/Images/twitter.png" alt="Image not found" width="20px" height="20px"></a>
        </div><br />
        <center>
            <div>&copy; Myproject</div>
        </center>
    </div>
    <!--FOOTER-->
</body>
</html>
